fi-main-button {
  width: fit-content;
  display: flex;

  button.main-button {
    background-color: var(--clr-brand-secondary);
    color: var(--clr-brand-primary);
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.1rem;
    cursor: pointer;

    padding: 0.8rem 1.6rem;
    font-size: var(--font-size-base);

    &.primary {
      background-color: var(--clr-brand-primary);
      color: var(--clr-brand-secondary);
    }

    &.tertiary {
      background-color: var(--clr-brand-tertiary);
      color: var(--clr-brand-light);
    }
  
    &.info {
      background-color: var(--clr-brand-info);
      color: var(--clr-brand-secondary);
    }
  
    &.danger {
      background-color: var(--clr-brand-danger);
      color: var(--clr-brand-secondary);
    }
  
    &.success {
      background-color: var(--clr-brand-success);
      color: var(--clr-brand-secondary);
    }
    
    &.medium {
      padding: 1rem 2rem;
      font-size: var(--font-size-regular);
      font-weight: bold;
    }

    &.large {
      padding: 1.2rem 2.4rem;
      font-size: var(--font-size-medium);
      font-weight: bold;
    }
  }
}