fi-page[content="contact"] {
  section.main {
    display: grid;
    grid-template-areas: 
        'message'
        'form'
        'alternatives';
    
    @media (orientation: landscape) {
      padding: var(--size-default-inline-padding);
      grid-template-areas: 
        'form form message'
        'form form spacer'
        'form form alternatives';
    }

    div {
      &.message {
        grid-area: message;
      }

      &.alternatives {
        width: 100%;
        padding: var(--size-default-inline-padding);
        background: var(--clr-brand-light);
        grid-area: alternatives;
  
        p {
          font-size: var(--font-size-medium);
          color: var(--clr-brand-shadow);
          text-align: center;
          font-weight: 500;
          margin-bottom: 1.2rem;
        }
  
        div.contact {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
  
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.4rem;
            border-radius: 0.5rem;
            border: 0.2rem solid var(--clr-brand-shadow);
            text-decoration: none;
            transition: var(--anim-default) 0.2s;
            
            &:not(:last-child) {
              margin-right: 1rem;
            }
            
            &:hover {
              background: var(--clr-brand-shadow);
              
              img {
                filter: var(--clr-brand-light-filter);
              }
              
              span {
                color: var(--clr-brand-light);
              }
            }
            
            img {
              width: 2.4rem;
              aspect-ratio: 1 / 1;
              filter: var(--clr-brand-shadow-filter);
              margin-right: 0.5rem;
            }
            
            span {
              font-weight: 500;
              font-size: var(--font-size-base);
              text-decoration: none;
              color: var(--clr-brand-shadow);
              transition: var(--anim-default) 0.2s;
            }
          }
        }
      }
    }
  }
}