header {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--clr-brand-primary);
  padding-inline: 2.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:has(a.active[href="/"]) {
    position: fixed;
    top: 0;
    left: 0;
  }

  img {
    height: 1.8rem;
    width: 1.8rem;
    object-fit: contain;
    object-position: center;
    filter: var(--clr-brand-secondary-filter);
  }

  nav {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      font-size: 1.2rem;
      height: fit-content;
      gap: 1rem;

      li {
        height: fit-content;
        display: flex;

        a {
          color: var(--clr-brand-secondary);
          text-decoration: none;
          font-family: 'Poppins', sans-serif;
          font-size: 1.05rem;
          font-weight: 700;
          transition: color 0.2s var(--anim-default);
          padding: 1.4rem 1rem;
          position: relative;
  
          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: var(--clr-brand-secondary);
            transition: height 0.15s var(--anim-default);
          }
  
          &.active,
          &:not(.active):hover {
            &::after {
              height: 5px;
            }
          }
        }
      }
    }
  }
}